<%- include('partials/head.ejs', {
	page: 'chapters',
	title: 'Chapters',
	css: [
		'chapters.css'
	],
	js: [
		'3p/jquery-ui.min.js'
	],
	jsDefer: [
		'chapters.js'
	]
}) %>

<div id="chapters-wrap">
	<div class="chapter" draggable="true">The Before Time</div>
	<div class="chapter">2016 Election</div>
	<div class="chapter">First Days in Office</div>
	<div class="chapter">Crowds & ratings</div>
	<div class="chapter">War & Peace</div>
		<div class="sub chapter">Syria</div>
		<div class="sub chapter">Iran</div>
			<div class="sub-sub chapter">Nuclear Deal</div>
			<div class="sub-sub chapter">Qassem Suleimani</div>
		<div class="sub chapter">China</div>
	<div class="chapter">Immigration</div>
	<div class="chapter">Private Interests</div>
</div>

<%- include('partials/foot.ejs') %>