<%- include('partials/head.ejs', {
	page: 'chapters',
	title: 'Chapters',
	css: [
		'chapters-overview.css'
	],
	jsDefer: [
		'chapters-overview.js'
	]
}) %>

<h2>Chapters</h2>

<%- include('partials/chapters-nav.ejs', { page: 'overview' }) %>

Coming soon.

<%- include('partials/foot.ejs') %>