<%- include('partials/head.ejs', {
	page: 'chapters',
	title: 'Chapters',
	css: [
		'chapters-overview.css'
	],
	jsDefer: [
		'chapters-overview.js'
	]
}) %>

<div id="links">
	<a href="/chapters">Back</a>
	Prev: <a href="#">2. 2016 Election</a>
	Next: <a href="#">4. 2016 Election</a>
</div>
<br>
<h2><span>3.</span>First 100 Days</h2>
<b>Writer:</b> unassigned<br>
<b>Alternative titles:</b> The History of Trump<br>
<b>Description:</b> The story of Donald Trump before he became president.<br>

<div class="sep"></div>
<div id="content">
	<div class="tweets">
		<p><b>Tweets:</b></p>
		<div class="tweet">So nice to see this great honor. Thank you (but haven’t played golf in a long time)! https://t.co/FfJyUmRdGi</div>
		<div class="tweet">Going well despite the Fake News! https://t.co/WXqcomjahx</div>
		<div class="tweet">RT @realDonaldTrump: Concast (@NBCNews) and Fake News @CNN are going out of their way to say GREAT things about China. They are Chinese pup…</div>
		<div class="tweet">So nice to see this great honor. Thank you (but haven’t played golf in a long time)! https://t.co/FfJyUmRdGi</div>
		<div class="tweet">Going well despite the Fake News! https://t.co/WXqcomjahx</div>
		<div class="tweet">RT @realDonaldTrump: Concast (@NBCNews) and Fake News @CNN are going out of their way to say GREAT things about China. They are Chinese pup…</div>
		<div class="tweet">So nice to see this great honor. Thank you (but haven’t played golf in a long time)! https://t.co/FfJyUmRdGi</div>
		<div class="tweet">Going well despite the Fake News! https://t.co/WXqcomjahx</div>
		<div class="tweet">RT @realDonaldTrump: Concast (@NBCNews) and Fake News @CNN are going out of their way to say GREAT things about China. They are Chinese pup…</div>
	</div>
	<div class="text">
		<p><b>Text:</b></p>
		<p>President Barack Obama and President-elect Donald Trump once sat together in the Oval Office. “I was immediately struck by Trump’s body language,” wrote journalist Jon Karl in his memoir Front Row at The Trump Show. “I was seeing a side of him I had never seen. He seemed, believe it or not, humbled.”</p>
		<p>It was November 2016 and, just for once, Trump was not in charge of the room, Karl recalls. Obama was still president, directing the action and setting the tone. His successor “seemed a little dazed” and “a little freaked out”. What the two men discussed in their meeting that day, only they know.</p>
		<p>But what became clear in the next three and a half years is that Obama remains something of an obsession for Trump; the subject of a political and personal inferiority complex.</p>
		<p>Observers point to a mix of anti-intellectualism, racism, vengeance and primitive envy over everything from Obama’s Nobel peace prize to the scale of his inauguration crowd and social media following.</p>
		<p>Ben Rhodes, a former Obama national security aide, tweeted this week: “Trump’s fact-free fixation on Obama dating back to birtherism is so absurd and stupid that it would be comic if it wasn’t so tragic.”</p>
		<p>“Birtherism” was a conspiracy theory that Trump started pushing in 2011 (“He doesn’t have a birth certificate. He may have one but there is something on that birth certificate – maybe religion, maybe it says he’s a Muslim, I don’t know.”) . Nine years later, he has come full circle with “Obamagate”, which accuses his predecessor of working in league with the “deep state” to frame Trump for colluding with Russia to win the 2016 election.</p>
		<p>There is zero evidence for this claim. Indeed, a case could be made that the supposed “deep state” did more to help Trump than hurt him when the FBI reopened an investigation into his opponent, Hillary Clinton, just before election day. When questioned by reporters, Trump himself has struggled to articulate what “Obamagate” means. Ned Price, a former CIA analyst, dubbed it “a hashtag in search of a scandal”.</p>
	</div>
</div>
<br>
<p><a href="/chapters">Back</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">prev</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">next</a></p>

<%- include('partials/foot.ejs') %>