<%- include('partials/head.ejs', {
	page: 'overview',
	title: 'Overview',
	css: [
		'overview.css'
	]
}) %>
<h2 id="template-h2">2020</h2>

<div id="template-year" class="year-wrap">
</div>

<div id="template-month" class="month-overview">
	<a href="#" class="month">Jan</a>
	<div class="bar">
		<div class="archived"></div>
		<div class="processed"></div>
	</div>
	<div class="tweet-count">25330</div>
</div>


<script>
	const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
	for (let j=2020; j>=2009; j--) {
		const yearName = document.getElementById('template-h2').cloneNode(true);
		const year = document.getElementById('template-year').cloneNode(true);
		yearName.removeAttribute('id');
		year.removeAttribute('id');
		
		yearName.innerText = j;
		document.getElementById('body').appendChild(yearName);
		document.getElementById('body').appendChild(year);
		for (let i=0; i<12; i++) {
			const month = document.getElementById('template-month').cloneNode(true);
			month.removeAttribute('id');
			month.getElementsByClassName('month')[0].innerText = months[i];
			year.appendChild(month);
		}
	}
	
	document.getElementById('template-h2').remove();
	document.getElementById('template-year').remove();
	document.getElementById('template-month').remove();
	
</script>

<%- include('partials/foot.ejs') %>