<%- include('partials/head.ejs', {
	page: 'scraper',
	title: 'Scraper',
	css: [
		'scraper.css'
	],
	jsDefer: [
		'scraper.js'
	]
}) %>
<h3>Live Scraper</h3>
<p>This looks up and "api scrapes" (completes) all tweets in the main table that have been "simple scraped".</p>
<div class="process">
	<button id="btn-scrape-latest" class="<% if (extracting) { %>on<% } %>"></button>
	<div class="display"></div>
</div>


<%- include('partials/foot.ejs') %>