<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/master.css">
	<link rel="stylesheet" href="/css/master-elms.css">
	<style>
		body {
			margin: 40px;
		}
	</style>
	<title>Download</title>
</head>
<body>
	<p>Download <%= total %> results here:</p>
	<a href="<%= path %>"><%= filename %></a>
</body>
</html>