h2 span {
	color: indianred;
	margin-right: 5px;
}
#links {
	margin-bottom: 40px
}
#links a {
	margin-right: 30px;
}
.nav {
	margin-bottom: 40px;
}
#body {
	/* width: 900px; */
}
#content {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}
#content > .tweets {
	width: 400px;
	margin-right: 40px;
	flex-shrink: 2;
}
#content > .text {
	width: 600px;
	flex-shrink: 1;
}
.tweet {
	min-height: 20px;
	line-height: 20px;
	background: #F3EBE5;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 10px 15px;
}
.tweets a {
	height: 40px;
	line-height: 40px;
}