/*

Color Palette
- - -
(0,0,0,.75)				text
#C76B8B - purple		links & primary buttons
#9F556F - dark purple	links & primary buttons hover
#E2D06D - gold			secondary button + star l-1
#CBBB62 - dark gold		secondary button hover
#FFF8DC - 'cornsilk'	selected rows
#8AA07A - dark green	labels (chapter green multiplied x4)
#657E54 - dark green+	labels hover (chapter green multiplied x6)
#F4E1E8 - soft purple	nav highlight
#F19A5A - orange		star l-2
#FF6347	- 'tomato'		star l-3
#D00	- dark red		errors
rgba(255,0,0,.3)		header line

*/

/**
 * Styling General
 */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-size: 15px;
	font-weight: 400;
	color: rgba(0,0,0,.75);
	line-height: 20px;
}
h1 {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 22px;
}
h2 {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 26px;
}
h3 {
	font-weight: 400;
	font-size: 20px;
}
a {
	color: #C76B8B;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: tomato;
}
p {
	margin: 0 0 10px 0;
}





/**
 * Styling Forms
 */

form {
	display: inline-block;
}
.input-wrap {
	float: left;
	clear: left;
	display: flex;
	flex-direction: column;
}

/* General */
input,
select,
button {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	outline: none;
	border: solid 1px rgba(0,0,0,.2);
	height: 40px;
	line-height: 40px;
	float: left;
	padding: 0 14px;
	box-sizing: border-box;
	margin: 0 10px 20px 0;
	min-width: 80px;
}

/* Text inputs */
input[type=text],
input[type=email],
input[type=password],
textarea {
	width: 250px;
	clear: left;
}

/* Focus state */
input[type=text]:not(:read-only):focus,
input[type=email]:not(:read-only):focus,
input[type=password]:not(:read-only):focus,
textarea:not(:read-only):focus {
	border: solid 1px #333;
}

/* Read-only state */
input:read-only,
textarea:read-only {
	/* border: dashed 1px rgba(0,0,0,.1); */
	/* border-bottom: solid 1px #333; */
	border-style: dashed;
}

/* Disabled state */
input:disabled,
textarea:disabled,
button:disabled {
	opacity: .3;
	cursor: default;
}

/* Error state */
input.err,
input:focus.err {
	border-color: #d00;
	color: #d00;
}

/* Error & info msg */
form .info-msg,
form .err-msg,
form .field-err-msg {
	font-size: 13px;
	float: left;
	clear: left;
}
form .info-msg,
form .err-msg {
	margin: -5px 0 15px 0;
}
form .field-err-msg {
	margin: -15px 0 15px 0;
}
form .err-msg,
form .field-err-msg {
	color: #d00;
}

/* Buttons */
button,
input[type=button],
input[type=submit] {
	border: none;
	border-radius: 2px;
	cursor: pointer;
	min-width: 90px;
	clear: none;
}
button,
input[type=button] {
	background: #E2D06D;
}
button.clear,
input[type=button].clear,
input[type=submit].clear {
	clear: left;
}

/* Hover state */
button:not(:disabled):hover,
input[type=button]:not(:disabled):hover {
	background: #CBBB62;
	/* color: #fff; */
}

/* Submit button */
button[type=submit] {
	background: #C76B8B;
	color: #fff;
}
button[type=submit]:not(:disabled):hover {
	background: #9F556F;
}

/* Checkbox */
input[type=checkbox] {
	height: auto;
	float: none;
}

/* Toggle button */
button.toggle {
	position: relative;
}
button.toggle::after {
	content: '';
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: solid 3px #fff;
	box-sizing: border-box;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 2px;
	opacity: .8;
}

/* Dropdown */
select {
	height: 40px;
	padding: 0 15px;
	outline: none;
}

/* Dropdowns */
.dd-display {
	background: #fafafa;
	border: solid 1px rgba(0,0,0,.1);
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	position: relative;
	box-sizing: border-box;
	width: 150px;
	height: 40px;
	position: relative;
}
.dd-display .dsp {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 38px;
	padding: 0 30px 0 14px;
	font-size: 15px;
	box-sizing: border-box;
}
.dd-display::after {
	content: '';
	width: 30px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(/img/triangles_dropdown-20.svg) center center no-repeat;
	opacity: .75;
	pointer-events: none;
}
.dd-display select {
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	opacity: 0;
}