/* Header */
#header {
	background: #3C464D;
	color: #fff;
	padding: 0 40px;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
}
#header .nav {
	height: 24px;
	line-height: 24px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 0;
	text-transform: inherit;
	font-size: 15px;
	font-weight: 400;
}
#header h1 {
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 0;
}
#header a {
	color: #fff;
}
#header a:hover {
	background: rgba(255,255,255,.2);
}
#header a.sel {
	color: #333;
	background: #fff;
}
#header::after {
	content: '';
	display: block;
	width: calc(100% + 200px);
	height: 2px;
	position: absolute;
	left: -200px;
	bottom: -5px;
	background: rgba(255,0,0,.3);
}

/* Loading state */
body.loading #header::after {
	background: linear-gradient(90deg, rgba(255,0,0,.6) 95%, rgba(255,0,0,0) 95%);
	background-repeat: repeat-x;
	background-size: 200px 2px;
	animation: slide 1s linear infinite;
}
@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(200px);
	}
}

/* Body */
#body {
	padding: 90px 40px 60px 40px;
}





/* Navigations */
.nav {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	height: 20px;
	line-height: 21px;
	margin-bottom: 20px;
}
.nav a {
	height: 100%;
	color: rgba(0,0,0,.75);
	text-decoration: none;
	margin-right: 15px;
	padding: 0 5px;
	border-radius: 2px;
	box-sizing: border-box;
	float: left;
}
.nav span.color {
	color: #C76B8B;
	pointer-events: none;
}
.nav a:hover,
.nav a:hover span.color {
	color: tomato;
}
.nav a.sel {
	background: rgba(0,0,0,.75);
	color: white;
}

/* Small nav */
.nav.small {
	height: 20px;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}
.nav.small a {
	margin-right: 5px;
}

/* Triple toggle */
.nav a.triad {
	border: solid 1px transparent;
	line-height: 20px;
}
.nav a.triad.un {
	border-color: rgba(0,0,0,.75);
	background: transparent;
	color: rgba(0,0,0,.75);
}
.nav a.triad.un::before {
	content: 'un';
}

/* Settings/options */
.nav a.op {
	background: transparent;
	color: rgba(0,0,0,.3);
	box-sizing: border-box;
	line-height: 20px;
	border: solid 1px transparent;
}
.nav a.op.sel {
	border-color: #E2D06D;
	color: rgba(0,0,0,.75);
}

/* Sep */
.nav .sep {
	float: left;
	width: 1px;
	height: 10px;
	margin: 5px 20px 5px 5px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAD0lEQVQYV2NgYGD4zwACAAYEAQAVghy+AAAAAElFTkSuQmCC) 0 0 repeat;
}



/**
 * Month overview
 */
.month-overview {
	height: 20px;
	margin-bottom: 10px;
}
.month-overview .month {
	float: left;
	width: 40px;
}
.month-overview .tweet-count {
	float: left;
	width: 80px;
}
.month-overview .bar {
	height: 20px;
	width: 120px;
	background: #eee;
	float: left;
	margin-right: 10px;
	border-radius: 2px;
	overflow: hidden;
}
.month-overview .bar * {
	height: 100%;
	width: 20px;
	float: left;
	transition: width 200ms ease-in-out;
}
.month-overview .archived {
	background: #333;
}
.month-overview .processed {
	background: forestgreen;
}





/**
 * Varia
 */

/* Exit button */
#exit-selection {
	min-width: 40px;
	width: 40px;
	padding: 0;
	position: relative;
}
#exit-selection::after {
	content: '+';
	font-size: 1.5em;
	display: block;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}





/**
 * Animations
 */
.opacity-blink {
	animation: opacity-blink 150ms 4;
}
.ip-blink {
	animation: input-blink 150ms 4;
}

@keyframes opacity-blink {
	0% {
		opacity: .3;
	}
	49.9% {
		opacity: .3;
	}
	50% {
		opacity: 1;
	}
	99.9% {
		opacity: 1;
	}
	100% {
		opacity: .3;
	}
}

@keyframes input-blink {
	0% {
		background-color: cornsilk;
	}
	49.9% {
		background-color: cornsilk;
	}
	50% {
		background-color: white;
	}
	99.9% {
		background-color: white;
	}
	100% {
		background-color: cornsilk;
	}
}

@keyframes copy-blink {
	0% {
		color: transparent;
	}
	49.9% {
		color: transparent;
	}
	50% {
		color: darkgreen;
	}
	99.9% {
		color: darkgreen;
	}
	100% {
		color: transparent;
	}
}