/**
 * Process button states
 */
 .process {
	margin-bottom: 40px;
	clear: left;
}
.process button {
	min-width: 150px;
	margin-right: 30px;
}
.process .display {
	float: left;
	height: 40px;
	line-height: 40px;
	color: rgba(0,0,0,.3);
}
.process button.on + .display {
	color: green;
}

/* Seeding */
#btn-scrape-latest::after {
	content: 'Start';
}
#btn-scrape-latest.on::after {
	content: 'Stop';
}
#btn-scrape-latest:not(.on) + .display::after {
	content: 'Scraping off';
}
#btn-scrape-latest.on + .display::after {
	content: 'Scraping in progress';
}