/**
 * Search Bar
 */

#form-search {
	position: relative;
	width: 100%;
}
#form-search input,
#form-search button {
	clear: none;
	margin-bottom: 0;
}
#btn-search-tips {
	min-width: 0;
	width: 40px;
}
input#search {
	width: 700px;
	margin-bottom: 10px;
	padding-right: 40px;
}
#search:focus {
	height: 40px;
	border-color: #333;
}
#search-clear {
	min-width: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: -50px;
	background: transparent;
	color: #999;
	border-left: solid 1px transparent;
	position: relative;
	padding: 0;
}
#search-clear::after {
	content: '+';
	font-size: 1.5em;
	display: block;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
	
}
#search-clear:hover {
	background: rgba(0,0,0,.03);
	border-left: solid 1px rgba(0,0,0,.2);
}
#search-results-count {
	position: absolute;
	bottom: 20px;
	right: 0;
	font-size: 13px;
}



/**
 * Search Filters
 */
#filters .starred::after {
	content: 'starred';
}
#filters .starred.s-1::after {
	content: 'one star';
}
#filters .starred.s-2::after {
	content: 'two stars';
}
#filters .starred.s-3::after {
	content: 'three stars';
}
#filters .starred.s-0::after {
	content: 'zero stars';
}




/**
 * Search Settings
 */

#settings {
	position: absolute;
}
#settings:not(.show) {
	display: none;
}



/**
 * Year/Month Nav
 */

#nav-cal {
	height: 60px;
	margin-bottom: 10px;
}
#nav-cal div {
	margin-bottom: 10px;
	float: left;
	clear: left;
}
#nav-cal:not(.show) {
	display: none;
}



/**
 * Controls
 */

/* Reselect button */
#btn-reselect {
	margin-right: 30px;
}

/* Star dropdown */
#dd-stars {
	width: 100px;
}
#dd-stars.l-1 {
	color: #E2D06D;
}
#dd-stars.l-2 {
	color: #F19A5A;
}
#dd-stars.l-3 {
	color: tomato;
}
#dd-chapter {
	width: 200px;
}

/* Label input */
#add-label {
	clear: none;
}



/**
 * Query data
 */
 #query-data {
	font-size: 13px;
	line-height: 16px;
	/* background: pink; */
	overflow: auto;
	position: relative;
	top: 12px;
}
#settings.show + #controls > #query-data,
#controls.select #query-data {
	display: none;
}
#query-data .type {
	float: left;
}
#query-data .type + .type {
	margin-left: 20px;
}
#query-data .type + .type::before {
	content: '|';
	margin-right: 20px;
}
#query-data div:not(.type) {
	display: inline-block;
	height: 100%;
	margin: 0 2px;
	background: #eee;
	border-radius: 2px;
	padding: 0 4px;
}




/**
 * Pagination
 */

.pagination {
	height: 26px;
	line-height: 26px;
	display: flex;
	font-size: 13px;
}
.pagination a,
.pagination span {
	display: block;
	padding: 0 5px;
	min-width: 26px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 2px;
}
.pagination span:not(.sel) {
	opacity: .3;
}
.pagination span.sel {
	background: #F4E1E8;
}
.pagination.top {
	margin-bottom: 10px;
}
.pagination.bottom {
	margin-top: 20px;
}



/**
 * Month Overview Graph
 */

#selected-month-overview,
#selected-month-overview span,
#selected-month-overview .bar {
	float: right;
	display: none;
}
#selected-month-overview .bar {
	margin-right: 0;
	margin-left: 10px;
}



/**
 * Tips
 */
#body.show-tips #controls,
#body.show-tips #table-wrap,
#body:not(.show-tips) #search-tips {
	display: none;
}
#search-tips {
	display: none;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
}
#search-tips .col-left {
	flex-grow: 1;
	max-width: 700px;
	margin-right: 40px;
}
#search-tips .col-right {
	width: 400px;
	flex-shrink: 1;
}
#search-tips ul.wide li {
	margin-bottom: 30px;
}
#search-tips .example {
	width: 250px;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	margin: 5px 0 10px 0;
	border: solid 1px rgba(0,0,0,.2);
	display: block;
}
#search-tips .word {
	/* color: #8AA07A; */
	/* font-weight: bold; */
	font-family: monospace;
	background: #eee;
}
#star-benchmark p {
	margin-bottom: 20px;
}
#star-benchmark p span.three {
	color: #FF6347
}
#star-benchmark p span.two {
	color: #F19A5A
}
#star-benchmark p span.one {
	color: #E2D06D
}