/**
 * Table Row
 */

/* Archived state */
.table-row.archived .table-cell {
	background: rgba(0,0,0,.03);
}
.table-row.archived .table-cell span {
	text-decoration: line-through;
}
.table-row.archived .table-cell,
.table-row.archived a {
	color: rgba(0,0,0,.3);
}
.table-row.archived .table-cell .label {
	color: #fff;
	opacity: .3;
}
.table-row.archived .table-cell.main .meta {
	text-decoration: none;
	color: rgba(0,0,0,.3);
}
.table-row.archived .icn-star {
	opacity: .5;
}

/* Copied state */
.table-row.copied .main span,
.table-row.copied .main span a {
	color: darkgreen;
	animation: copy-blink 100ms 2;
}

/* Deleted state */
.table-row.deleted {
	background: rgba(255,0,0,.07);
}
.table-row.deleted .main span {
	color: #d00;
}
.table-row.deleted .main span a {
	color: #a00;
}



/**
 * Table Cell
 */

 /* Tweet */
.table-cell.main em {  /* Literal highlight */
	font-style: normal;
	color: crimson;
	font-weight: 700;
}
.table-cell.main .meta {
	clear: left;
	margin-top: 5px;
	font-size: 11px;
	line-height: 13px;
	color: rgba(0,0,0,.3);
	color: #8AA07A
}
.table-cell.main .flag {
	background: #C76B8B;
	color: #fff;
	padding: 0 5px;
	border-radius: 2px;
	margin-right: 5px;
	height: 18px; /* Match line height */
	display: inline-flex;
}
.table-cell.main .flag.rt {
	margin-right: 2px;
}
.table-cell.main .flag.rt:not(:hover) {
	background: rgba(0,0,0,.75);
}
.table-cell.main .flag b,
.table-cell.main .flag span {
	font-size: 13px;
	line-height: 18px;
}
.table-cell.main .flag :nth-child(2) {
	margin-left: 5px;
	padding-left: 5px;
	border-left: solid 1px #fff;
}
.table-cell.main .flag:hover {
	background: crimson;
}

/* Tweet --> UI settings */
#tweet-table.clip-tweets .table-cell.main {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tweet-table:not(.show-labels) .table-row:not(.sel) .label-wrap {
	display: none;
}
#tweet-table:not(.show-meta) .meta {
	display: none;
}

/* Tweet --> media */
.table-cell.main .media {
	margin: 10px 0 0 0;
	overflow: auto;
	position: relative;
}

/* Image */
.media img {
	border-radius: 3px;
	float: left;
	max-width: 100%;
	max-height: 500px;
	margin-bottom: 5px;
}
.media > div {
	max-width: 600px;
}
.media img.small {
	max-height: 100px;
	margin: 0 5px 5px 0;
}

/* Video */
.media .video-wrap {
	float: left;
	margin-bottom: 5px;
	position: relative;
}
.media .video-wrap img {
	margin: 0;
}
.media video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video play button */
.media div.video-play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 68px;
	height: 68px;
	margin-left: -34px;
	margin-top: -34px;
	border: solid 4px #fff;
	border-radius: 40px;
	background: rgb(29, 161, 242);
	transition: background 150ms ease-in-out;
	box-sizing: border-box;
}
.media div.video-play:hover {
	background: rgb(26, 145, 218);
}
.media div.video-play svg {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -17px;
	margin-top: -17px;
	padding-left: 2.5px;
	fill: white;
}

/* Tweet --> quoted */
.table-cell.main .quoted {
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 3px;
	padding: 15px;
	display: inline-block;
	margin: 10px 0;
	background: rgba(0,0,0,.04);
	color: rgba(0,0,0,.75);
}
.table-cell.main .quoted:hover {
	background: rgba(0,0,0,.07);
}
.table-cell.main .quoted .media {
	margin-top: 20px;
	margin-bottom: -5px;
	padding: 0;
}

/* Link preview card */
.table-cell.main .link-preview {
	margin: 10px 0;
	border: solid 1px rgba(0,0,0,.2);
	background: rgba(100,100,0,.04);
	border-radius: 3px;
	display: flex;
}
.table-cell.main .link-preview.large-img {
	flex-direction: column;
	max-width: 500px;
}
.table-cell.main .link-preview:hover {
	background: rgba(100,100,0,.07);
}
.table-cell.main .link-preview img.large {
	width: 100%;
}
.table-cell.main .link-preview div.thumb {
	width: 144px;
	height: 144px;
	flex: 0 0 144px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.table-cell.main .link-info {
	padding: 15px;
}
.table-cell.main .link-title {
	font-weight: 700;
	margin-bottom: 3px;
}
.table-cell.main .link-description {
	font-style: italic;
	margin-bottom: 3px;
}
.table-cell.main .link-vanity-url {
	font-size: 13px;
	opacity: .5;
}

/* Tweet - replies-to */
.table-cell.main .replies-to {
	opacity: .5;
	color: rgba(0,0,0,.5);
	display: inline-block;
	margin-top: 30px;
	font-size: 13px;
	position: relative;
	font-style: italic;
	/* background: pink; */
}
.table-cell.main .replies-to:hover {
	opacity: 1;
}
.table-cell.main .replies-to::before {
	content: '';
	width: 2px;
	height: 20px;
	background: #000;
	opacity: .2;
	position: absolute;
	top: -25px;
	left: 20px;
}

/* Fake js links looking like real links */
.table-cell.main .link.color {
	color: #C76B8B;
}
.table-cell.main .link.color:hover {
	color: tomato;
}


/* Tweet --> Labels */
.meta + .label-wrap.pad {
	margin-top: 5px;
}
.label-wrap.pad {
	overflow: auto;
	margin-top: 2px;
}
.label {
	text-transform: uppercase;
	height: 15px;
	line-height: 16px;
	font-size: 10px;
	font-weight: 600;
	padding: 0 5px;
	float: left;
	color: #fff;
	margin-right: 3px;
	margin-top: 3px;
	max-width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	z-index: 0;
}
.label .bg {
	width: 100%;
	height: 100%;
	background: #8AA07A;
	border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.label:hover {
	color: #fff;
}
.label:hover .bg {
	background: #657E54;
}
.label.hold { /* (waiting for server) */
	opacity: .3;
}
.label.deleted {
	background: #d00;
	border-radius: 2px;
}

/* Tweet --> Labels --> Delete UI */
.label.remove {
	padding-right: 20px;
}
.label.remove .x {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 2px 2px 0;
}
.label.remove .x::after {
	content: '';
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 15px;
	width: 100%;
	height: 100%;
	background: url(/img/x-small-10.svg) center center no-repeat;
	background-size: 75%;
	position: absolute;
	
}
.label.remove .x:hover + .bg {
	background: red;
}

/* Chapter */
.table-cell.chapter {
	padding: 0;
	position: relative;
	width: 150px;
}
.table-cell.chapter select {
	width: 100%;
	position: relative;
	z-index: 1;
	float: none;
	margin: 0;
	opacity: 0;
	cursor: pointer;
}
.table-cell.chapter select:hover + a {
	color: tomato;
}
.table-cell.chapter a {
	width: 100%;
	text-align: left;
	padding: 0 15px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;

	/* Truncate */
	max-width: 150px;
  	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Date */
.table-cell.date {
	width: 100px;
	padding: 0;
}

/* Copy / archive */
.table-cell.btn-copy,
.table-cell.btn-archive {
	width: 80px;
	text-align: center;
	padding: 0;
}
.table-cell.btn-copy {
	width: 60px;
}