/**
 * Controls
 */
#controls {
	height: 40px;
	margin-bottom: 20px;
	transition: all 100ms ease-in-out;
	/* font-size: 0; */
	 /* To guarantee exact height */
}
#controls:not(.select) .select-ui,
#controls:not(.reselect) .reselect-ui,
#settings.show ~ #controls .select-ui,
#settings.show ~ #controls .reselect-ui {
	display: none;
}


.table {
	width: 100%;
	border-bottom: none;
	border-top: none;
	user-select: none;
}
body.loading .table {
	opacity: .5;
}



/**
 * Table Header
 */
.table-header {
	font-weight: bold;
}
.table-header .sort::after {
	content: '\2193';
	white-space: pre;
	color: #C76B8B;
}
.table-header .sort.dec::after {
	content: '\2191';
}
.table-header .table-cell:first-child {
	border-left: solid 1px transparent;
}
.table-header .table-cell:last-child {
	border-right: solid 1px transparent;
}



/**
  * Table Row
  */
.table-row {
	display: flex;
	min-height: 40px;
	line-height: 40px;
}
.table-row:not(.table-header).sel {
	background: cornsilk;
}
.table-row:not(.sel):not(.table-header):hover {
	background: rgba(0,0,0,.03);
}

/* Focus state */
.table-row.focus {
	position: relative;
	background: rgba(219,227, 213,.2); /* Soft green */
}
.table-row.focus::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 1;
	width: 3px;
	height: calc(100% + 1px);
	background: #8AA07A;
}



/**
 * Table Cell
 */
.table-cell {
	border-bottom: solid 1px rgba(0,0,0,.2);
	padding: 0 15px;
	flex-shrink: 0;
	flex-grow: 0;
}
.table:not(.no-click) .table-row:not(.table-header) .table-cell {
	cursor: pointer;
}
.table-row:not(.table-header) .table-cell:first-child {
	border-left: solid 1px rgba(0,0,0,.2);
}
.table-row:not(.table-header) .table-cell:last-child {
	border-right: solid 1px rgba(0,0,0,.2);
}

/* Error state */
.table-cell.err {
	color: #d00;
}

/* Checkbox */
.table-cell.cb {
	width: 20px;
	max-width: 20px;
	padding-right: 0;
}
.table-cell.cb input {
	margin: 0;
}

/* Star */
.table-cell.star {
	padding: 0;
	width: 40px;
	color: rgba(0,0,0,.1);
}
.icn-star {
	width: 40px;
	height: 40px;
	position: relative;
}
.icn-star svg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.icn-star .svg-no-star {
	opacity: .4;
}
.icn-star:hover .svg-no-star {
	opacity: .9;
}
.table-row:not(.l-0):not(.l-1):not(.l-2):not(.l-3) .svg-star,
.table-row.l-0 .svg-no-star,
.table-row.l-1 .svg-no-star,
.table-row.l-2 .svg-no-star,
.table-row.l-3 .svg-no-star {
	display: none;
}
.table-row.l-0 svg {
	opacity: .15;
}
.table-row.l-1 svg {
	fill: #E2D06D;
}
.table-row.l-2 svg {
	fill: #F19A5A;
}
.table-row.l-3 svg {
	fill: tomato;
}
.icn-star .display {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	text-shadow: 0 0 4px rgba(0,0,0,.4);
	display: none;
}
.table-row.display .icn-star .display {
	display: block;
}
.table-row.l-0 .icn-star .display {
	background: #F8F8F8;
	text-shadow: none;
	color: rgba(0,0,0,.6);
}
.table-row.l-0 .icn-star .display::after {
	content: '0';
}
.table-row.l-1 .icn-star .display {
	background: #E2D06D;
}
.table-row.l-1 .icn-star .display::after {
	content: '1';
}
.table-row.l-2 .icn-star .display {
	background: #F19A5A;
}
.table-row.l-2 .icn-star .display::after {
	content: '2';
}
.table-row.l-3 .icn-star .display {
	background: tomato;
}
.table-row.l-3 .icn-star .display::after {
	content: '3';
}

/* Tweet */
.table-cell.main {
	line-height: 20px;
	padding: 10px 15px 10px 0;
	flex-shrink: 1;
	flex-grow: 1;
}



/**
 * No results
 */
#no-results {
	padding-left: 65px;
	height: 100px;
	line-height: 100px;
	width: 100%;
	border: solid 1px rgba(0,0,0,.2);
	box-sizing: border-box;
	border-top: none;
}