/* Search Settings */
#search-settings-wrap {
	display: flex;
}
#search-settings {
	flex-shrink: 1;
	flex-grow: 1;
	text-align: right;
}
#search-settings a {
	margin-left: 10px;
}
#search-settings a.off {
	text-decoration: line-through;
	opacity: .5;
}

/* Filter */
#filters {
	position: relative;
	font-size: 0;
}
#filters.hide {
	display: none;
}
#filters .nav {
	display: none;
}
#filters.by-date #form-search {
	display: none;
}
#filters.by-date .nav {
	display: block;
}


/* Search */
#form-search {
	position: relative;
	width: 100%;
}
#search {
	width: 700px;
	margin-bottom: 20px;
}
#search:focus {
	height: 40px;
	border-color: #333;
}
#search-clear {
	min-width: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: -50px;
	background: transparent;
	color: #999;
	border-left: solid 1px transparent;
	position: relative;
	padding: 0;
}
#search-clear::after {
	content: '+';
	font-size: 1.5em;
	display: block;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
	
}
#search-clear:hover {
	background: rgba(0,0,0,.03);
	border-left: solid 1px rgba(0,0,0,.2);
}
#search-results-count {
	position: absolute;
	bottom: 20px;
	right: 0;
	font-size: 13px;
}


/* Month Overview Graph */
#selected-month-overview,
#selected-month-overview span,
#selected-month-overview .bar {
	float: right;
}
#selected-month-overview .bar {
	margin-right: 0;
	margin-left: 10px;
}


/* Controls */
#controls {
	margin-bottom: 20px;
	transition: all 100ms ease-in-out;
	font-size: 0;
}
#controls.hide {
	display: none;
}
#btn-star {
	text-align: left;
}
#btn-star span.star {
	text-align: center;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	margin-right: 10px;
}
#exit-selection {
	min-width: 40px;
	width: 40px;
	padding: 0;
	position: relative;
}
#exit-selection:not(:hover) {
	background: rgba(0,0,0,.07);
	color: rgba(0,0,0,.75);
}
#exit-selection::after {
	content: '+';
	font-size: 1.5em;
	display: block;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}




/* Pagination-v1 */
#table-pagination {
	height: 40px;
	line-height: 40px;
	float: right;
}
#table-pagination span {
	margin: 0 10px;
}

/* Pagination-v2 */
.pagination {
	display: flex;
	font-size: 13px;
}
.pagination a {
	display: block;
	min-width: 26px;
	height: 26px;
	line-height: 26px;
	padding: 0 5px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 2px;
}
.pagination a.sel {
	background: #eee;
}
.pagination.top {
	margin-bottom: 10px;
}
.pagination.bottom {
	margin-top: 20px;
}